main {
    grid-column: 1 / -1;
    align-self: center;
    justify-self: center;
    padding: 2em;
    color: var(--color-dark);
    background-color: var(--color-light);
}

main h2 {
    text-align: center;
    padding-bottom: 1em;
    margin-bottom: 1.5em;
    border-bottom: 1px solid var(--color-bg);
}

form {
    width: 100%;
    display: grid;
    align-items: baseline;
    grid-gap: 1em;
}

form .btn {
    cursor: pointer;
    text-decoration: none;
    background-color: var(--color-bg);
}

.message {
    grid-column: 1 / -1;
    text-align: center;
    color: orangered;
    font-size: 0.9em;
}

form footer {
    grid-column: 1 / -1;
    font-size: .8em;
    text-align: center;
}

label {
    margin-bottom: -0.8em;
}

input {
    padding: .5em;
}

#buttons {
    grid-column: 1 / -1;
    margin: 1em auto;
}

@media (min-width: 768px) {
    main {
        width: 50vw;
    }
    form {
        grid-auto-flow: row;
        grid-template-columns: max-content 1fr;
    }
    label {
        justify-self: right;
    }
}

@media (min-width: 992px) {
    main {
        width: 40vw;
    }
}

@media (min-width: 1200px) {
    main {
        width: 35vw;
    }
}
