<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Моя музыка</title>
    <meta name="description" content="Тематический блог о любимой музыке и темах, так или иначе с ней связанных.">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="site-header">
        <div class="container">
            <img class="logo" src="logo.svg" alt="Логотип Моя музыка">
            <nav class="top-menu" aria-label="main">
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Войти</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <header>
            <h1>Моя музыка</h1>
            <p>Тематический блог о любимой музыке и темах, так или иначе с ней связанных.</p>
        </header>
        <article>
            <img src="article_img.jpg" alt="Изображение статьи">
            <h2>Заголовок статьи</h2>
            <section>
                <span>Автор статьи</span>
                <span><time datetime="2020-12-01 00:00:00">2020-12-01</time></span>
                <span>0 комментариев</span>
            </section>
            <p>Короткая вводная часть статьи, чтобы ее захотелось прочитать. 1-2 предложения передающие суть и обязательно оставляющие интригу.</p>
            <footer>
                <a href="#">Читать полностью...</a>
            </footer>
        </article>
        <article>
            <img src="article_img.jpg" alt="Изображение статьи">
            <h2>Заголовок статьи</h2>
            <section>
                <span>Автор статьи</span>
                <span><time datetime="2020-12-01 00:00:00">2020-12-01</time></span>
                <span>0 комментариев</span>
            </section>
            <p>Короткая вводная часть статьи, чтобы ее захотелось прочитать. 1-2 предложения передающие суть и обязательно оставляющие интригу.</p>
            <footer>
                <a href="#">Читать полностью...</a>
            </footer>
        </article>
        <article>
            <img src="article_img.jpg" alt="Изображение статьи">
            <h2>Заголовок статьи</h2>
            <section>
                <span>Автор статьи</span>
                <span><time datetime="2020-12-01 00:00:00">2020-12-01</time></span>
                <span>0 комментариев</span>
            </section>
            <p>Короткая вводная часть статьи, чтобы ее захотелось прочитать. 1-2 предложения передающие суть и обязательно оставляющие интригу.</p>
            <footer>
                <a href="#">Читать полностью...</a>
            </footer>
        </article>
        <article>
            <img src="article_img.jpg" alt="Изображение статьи">
            <h2>Заголовок статьи</h2>
            <section>
                <span>Автор статьи</span>
                <span><time datetime="2020-12-01 00:00:00">2020-12-01</time></span>
                <span>0 комментариев</span>
            </section>
            <p>Короткая вводная часть статьи, чтобы ее захотелось прочитать. 1-2 предложения передающие суть и обязательно оставляющие интригу.</p>
            <footer>
                <a href="#">Читать полностью...</a>
            </footer>
        </article>
        <article>
            <img src="article_img.jpg" alt="Изображение статьи">
            <h2>Заголовок статьи</h2>
            <section>
                <span>Автор статьи</span>
                <span><time datetime="2020-12-01 00:00:00">2020-12-01</time></span>
                <span>0 комментариев</span>
            </section>
            <p>Короткая вводная часть статьи, чтобы ее захотелось прочитать. 1-2 предложения передающие суть и обязательно оставляющие интригу.</p>
            <footer>
                <a href="#">Читать полностью...</a>
            </footer>
        </article>
        <article>
            <img src="article_img.jpg" alt="Изображение статьи">
            <h2>Заголовок статьи</h2>
            <section>
                <span>Автор статьи</span>
                <span><time datetime="2020-12-01 00:00:00">2020-12-01</time></span>
                <span>0 комментариев</span>
            </section>
            <p>Короткая вводная часть статьи, чтобы ее захотелось прочитать. 1-2 предложения передающие суть и обязательно оставляющие интригу.</p>
            <footer>
                <a href="#">Читать полностью...</a>
            </footer>
        </article>
        <article>
            <img src="article_img.jpg" alt="Изображение статьи">
            <h2>Заголовок статьи</h2>
            <section>
                <span>Автор статьи</span>
                <span><time datetime="2020-12-01 00:00:00">2020-12-01</time></span>
                <span>0 комментариев</span>
            </section>
            <p>Короткая вводная часть статьи, чтобы ее захотелось прочитать. 1-2 предложения передающие суть и обязательно оставляющие интригу.</p>
            <footer>
                <a href="#">Читать полностью...</a>
            </footer>
        </article>
        <nav></nav>
    </main>
    <footer>2020 &copy; Моя музыка</footer>
</body>
</html>