<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>#околомузыки - музыкальный блог</title>
    <meta name="description" content="Тематический блог о современной и
    не очень музыке и темах, так или иначе с ней связанных.">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="logo">#околомузыки</div>
        <nav aria-label="Main">
            <button id="top-menu-button" aria-haspopup="true" aria-controls="top-menu">MENU</button>
            <ul id="top-menu" role="menu" aria-labelledby="top-menu-button">
                <li role="none">
                    <a href="#" role="menuitem">войти</a>
                </li>
                <li role="none">
                    <a href="#" role="menuitem">регистрация</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <header>
            <h1>#околомузыки</h1>
            <p></p>
        </header>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
        <nav></nav>
    </main>
    <aside></aside>
    <footer></footer>
</body>
</html>