* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 75vw;
    margin: 0 auto;
}
.site-header {
    height: 96px;
    padding-top: 12px;
    background-color: rgba(128,0, 128, .25);
}
.logo {
    width: 72px;
    float: left;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, .4));
}

.top-menu {
    float: right;
}

.top-menu ul {
    list-style: none;
    display: flex;
}

.top-menu li {
    font-size: 18px;
    padding: 0 16px;
    text-decoration: none;
    text-transform: uppercase;
}

.top-menu li:hover {
    background-color: darkslateblue;
}