{% extends 'base.html' %}
{% from '_form_helpers.html' import render_field %}

{% block custom_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block main_content %}
    <main>
        <h2>{{ title }}</h2>
        <form method="POST">
            {{ form.csrf_token }}
            {{ render_field(form.username) }}
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            {{ render_field(form.confirm) }}
            {% for message in get_flashed_messages() %}
                <span class="message">{{ message }}</span>
            {% endfor %}
            <div id="buttons">
                <button class="btn">Ок</button>
                <a class="btn" href="{{ request.referrer }}">Отмена</a>
            </div>
            <footer>
                <a class="link" href="{{ url_for('auth.login') }}">Авторизоваться</a>, если уже создан аккаунт.
            </footer>
        </form>
    </main>
{% endblock %}