<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Моя музыка</title>
    <meta name="description" content="Тематический блог о любимой музыке и темах, так или иначе с ней связанных.">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="assets/logo.svg">
    <link rel="stylesheet" href="assets/css/fonts.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <header class="header full-width-bar">
        <h1 class="header__logo"><a href="index.html">Моя музыка</a></h1>
        <a class="header__login" href="#">Вход</a>
    </header>
    <main class="content">
        <h2>Блог о любимой музыке и темах, с ней связанных</h2>
        <ul class="post-list-layout" aria-label="Список статей">
            <li>
                <article class="post-card">
                    <img src="images/article_img.jpg" alt="Изображение статьи">
                    <h3>Заголовок статьи</h3>
                    <section class="post-info post-info__compact">
                        <span class="post-info__author">Автор статьи</span>
                        <span class="post-info__date"><time datetime="2020-12-01 00:00:00">2020-12-01</time></span>
                        <span class="post-info__view">0 просмотров</span>
                    </section>
                    <p>Короткая вводная часть статьи, чтобы ее захотелось прочитать. 1-2 предложения передающие суть и обязательно оставляющие интригу.</p>
                    <footer>
                        <a class="btn no-border" href="post.html">Читать полностью...</a>
                    </footer>
                </article>
            </li>
            <li>
                <article class="post-card">
                    <img src="images/article_img.jpg" alt="Изображение статьи">
                    <h3>Заголовок статьи</h3>
                    <section class="post-info post-info__compact">
                        <span class="post-info__author">Автор статьи</span>
                        <span class="post-info__date"><time datetime="2020-12-01 00:00:00">2020-12-01</time></span>
                        <span class="post-info__view">0 просмотров</span>
                    </section>
                    <p>Короткая вводная часть статьи, чтобы ее захотелось прочитать. 1-2 предложения передающие суть и обязательно оставляющие интригу.</p>
                    <footer>
                        <a class="btn no-border" href="post.html">Читать полностью...</a>
                    </footer>
                </article>
            </li>
            <li>
                <article class="post-card">
                    <img src="images/article_img.jpg" alt="Изображение статьи">
                    <h3>Заголовок статьи</h3>
                    <section class="post-info post-info__compact">
                        <span class="post-info__author">Автор статьи</span>
                        <span class="post-info__date"><time datetime="2020-12-01 00:00:00">2020-12-01</time></span>
                        <span class="post-info__view">0 просмотров</span>
                    </section>
                    <p>Короткая вводная часть статьи, чтобы ее захотелось прочитать. 1-2 предложения передающие суть и обязательно оставляющие интригу.</p>
                    <footer>
                        <a class="btn no-border" href="post.html">Читать полностью...</a>
                    </footer>
                </article>
            </li>
            <li>
                <article class="post-card">
                    <img src="images/article_img.jpg" alt="Изображение статьи">
                    <h3>Заголовок статьи</h3>
                    <section class="post-info post-info__compact">
                        <span class="post-info__author">Автор статьи</span>
                        <span class="post-info__date"><time datetime="2020-12-01 00:00:00">2020-12-01</time></span>
                        <span class="post-info__view">0 просмотров</span>
                    </section>
                    <p>Короткая вводная часть статьи, чтобы ее захотелось прочитать. 1-2 предложения передающие суть и обязательно оставляющие интригу.</p>
                    <footer>
                        <a class="btn no-border" href="post.html">Читать полностью...</a>
                    </footer>
                </article>
            </li>
            <li>
                <article class="post-card">
                    <img src="images/article_img.jpg" alt="Изображение статьи">
                    <h3>Заголовок статьи</h3>
                    <section class="post-info post-info__compact">
                        <span class="post-info__author">Автор статьи</span>
                        <span class="post-info__date"><time datetime="2020-12-01 00:00:00">2020-12-01</time></span>
                        <span class="post-info__view">0 просмотров</span>
                    </section>
                    <p>Короткая вводная часть статьи, чтобы ее захотелось прочитать. 1-2 предложения передающие суть и обязательно оставляющие интригу.</p>
                    <footer>
                        <a class="btn no-border" href="post.html">Читать полностью...</a>
                    </footer>
                </article>
            </li>
            <li>
                <article class="post-card">
                    <img src="images/article_img.jpg" alt="Изображение статьи">
                    <h3>Заголовок статьи</h3>
                    <section class="post-info post-info__compact">
                        <span class="post-info__author">Автор статьи</span>
                        <span class="post-info__date"><time datetime="2020-12-01 00:00:00">2020-12-01</time></span>
                        <span class="post-info__view">0 просмотров</span>
                    </section>
                    <p>Короткая вводная часть статьи, чтобы ее захотелось прочитать. 1-2 предложения передающие суть и обязательно оставляющие интригу.</p>
                    <footer>
                        <a class="btn no-border" href="post.html">Читать полностью...</a>
                    </footer>
                </article>
            </li>
        </ul>
        <nav class="pagination">
            <ul class="flex-list">
                <li><a class="btn" href="#">1</a></li>
                <li><a class="btn" href="#">2</a></li>
                <li><a class="btn" href="#">3</a></li>
            </ul>
        </nav>
    </main>
    <aside>
        <h3>Статьи по тэгам</h3>
        <nav>
            <ul class="flex-list">
                <li><a class="btn" href="#">Тэг 1</a></li>
                <li><a class="btn" href="#">Тэг 2</a></li>
                <li><a class="btn" href="#">Тэг 3</a></li>
                <li><a class="btn" href="#">Тэг 4</a></li>
                <li><a class="btn" href="#">Тэг 5</a></li>
                <li><a class="btn" href="#">Тэг 6</a></li>
                <li><a class="btn" href="#">Тэг 7</a></li>
                <li><a class="btn" href="#">Тэг 8</a></li>
            </ul>
        </nav>
    </aside>
    <footer class="footer full-width-bar">2021 &copy; Моя музыка</footer>
</body>
</html>