<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Моя музыка: Заголовок статьи</title>
    <meta name="description" content="Тематический блог о любимой музыке и темах, так или иначе с ней связанных.">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="assets/logo.svg">
    <link rel="stylesheet" href="assets/css/fonts.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <header class="header full-width-bar">
        <h1 class="header__logo"><a href="#">Моя музыка</a></h1>
        <a class="header__login" href="#">Вход</a>
    </header>
    <main class="content post-full">
        <h2>Заголовок статьи</h2>
        <img src="images/article_img.jpg" alt="Изображение статьи">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi at atque, corporis delectus, dolorem dolorum, harum labore libero officia quasi quod recusandae rem repudiandae sequi soluta velit vero voluptatem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto at, delectus dolores eius eligendi ex, excepturi id ipsum laborum molestias numquam porro praesentium quaerat quo repellendus saepe totam vero?</p>
        <section class="post-info no-border">
            <span class="post-info__author">Автор статьи</span>
            <span class="post-info__date"><time datetime="2020-12-01 00:00:00">2020-12-01</time></span>
            <span class="post-info__view">0 просмотров</time></span>
            <ul class="post-info__tags">
                <li><a class="link" href="index.html">тэг 1</a></li>
                <li><a class="link" href="index.html">тэг 2</a></li>
                <li><a class="link" href="index.html">тэг 3</a></li>
            </ul>
        </section>
        <footer>
            <a class="btn" href="index.html">На главную...</a>
        </footer>
    </main>
    <aside>
        <h3>Похожие статьи</h3>
        <nav>
            <ul class="aside-post-list">
                <li><a class="link" href="#">Заголовок статьи 1</a></li>
                <li><a class="link" href="#">Заголовок статьи 2</a></li>
                <li><a class="link" href="#">Заголовок статьи 3</a></li>
            </ul>
        </nav>
    </aside>
    <footer class="footer full-width-bar">2021 &copy; Моя музыка</footer>
</body>
</html>